RewriteEngine On
RewriteBase /check_sheet_online/

# Bypass existing files/dirs
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect to root files specifically with .php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Redirect to pages/ folder specifically with .php extension
RewriteCond pages/$1.php -f
RewriteRule ^([^/]+)$ pages/$1.php [L]
